body {
    margin: 0;
    overflow: hidden;
    color: #f0f0f0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.375;
}

html {
    background: url(https://i.redd.it/63p7lc2f6rr31.jpg) !important;
    background: url(https://cdnb.artstation.com/p/assets/images/images/017/897/245/4k/alex-haining-t-trimsheet-01.jpg?1557770406) !important;


    background-repeat: repeat !important;
    background-size: 55% auto !important;
    background-position: right -20vh !important;
    background-attachment: fixed !important;
}

/*
#game-announce-card-text {
    box-shadow: 0 0 3px 0px black, 0px 0px 2px 0.2px rgba(187, 225, 250, 0.7) inset, inset 0 0 10px 1px black;
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(187, 225, 250, 0.7);
    width: -webkit-fill-available;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 3px;
    margin-top: 6px;
    padding: 0px 0px 0px 10px;
    background-color: rgba(10, 10, 10, 0.5);
    transition: 0.2s;
    height: 30px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

#game-announce-card-text:hover {
    box-shadow: 0 0 3px 0px black, 0px 0px 2px 0.2px rgba(187, 225, 250, 0.7) inset, inset 0 0 10px 1px black;
    border-radius: 10px;
    color: white;
    border: 1px solid rgba(187, 225, 250, 0.7);
    background-color: rgba(50, 50, 50, 0.7);
}
*/
#game-field-player-banished,
#game-field-opponent-banished {
    z-index: 1;
}


#game-announce-card-list {
    display: grid;
}

#game-announce-card-list > button:nth-child(n) {
    border-radius: 10px;
    margin: 6px;
    margin-bottom: 3px;
}

#game-field > tbody > tr:nth-child(1) > td:nth-child(5),
#game-field > tbody > tr:nth-child(1) > td:nth-child(1) {
    padding: 0px;
}

#game-field > tbody > tr:nth-child(1) > td:nth-child(1) > div > div:nth-child(2) {
    direction: ltr !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#game-field > tbody > tr:nth-child(1) > td:nth-child(5) > div > div:nth-child(2) {
    direction: ltr !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

#options-window > hr:nth-child(2) {
    display: none;
}

#options-speed-value,
#options-music-value,
#options-sounds-value {
    width: 35px;
    text-align: right;
}

input[type=range] {
    height: 10px;
}

/*

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #0b6474;
    height: 10px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #abf5fd, 0 0 0.4em 0 rgb(58 209 236 / 70%), 0 0 0.4em 0 rgb(58 209 236 / 70%) inset;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #abf5fd;
    box-shadow: 0 0 0 1px #abf5fd, 0 0 0.4em 0 rgb(58 209 236 / 70%), 0 0 0.4em 0 rgb(58 209 236 / 70%) inset;
    width: 13px;
    height: 10px;
    border-radius: 10px;
}


input[type=checkbox] + label {
    cursor: pointer;
}

input[type=checkbox] + label:before {
    content: "\25CF";
    border: 0px solid rgb(58 209 236 / 70%);
    border-radius: 2px;
    box-shadow: 0 0 0 1px #abf5fd, 0 0 0.4em 0 rgb(58 209 236 / 70%), 0 0 0.4em 0 rgb(58 209 236 / 70%) inset;
    display: inline-block;
    height: 13px;
    width: 13px;
    color: transparent;
    transition: .2s;
    background-color: #0b6474;
    position: absolute;
    margin-top: 3px;
    margin-left: -18px;
}

input[type=checkbox]:checked + label:before {
    background-color: #abf5fd;
    
}

*/
#options-window > p:nth-child(3),
#options-window > p:nth-child(4) {
    padding: 1px;
}

#game-option-window {
    z-index: 202;
}

#game-tooltip-overlay-extension > img:nth-child(n) {
    margin-top: 6px;
    margin-right: 3px;
    margin-left: 3px;
}

#game-announce-list > div:nth-child(n) {
    margin-bottom: 6px;
}

.game-attack-animation {
    background: url(https://rawcdn.githack.com/sefeiba/duelingnexus/26137ef7527a3318e1cf129e2cb29771136b3a82/test/eldorado-attack-sword.svg) no-repeat;
    background-size: cover;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    z-index: 200 !important;
}

#game-loading-text,
#game-result-container > p {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: url(https://img.konami.com/yugioh/point/images/bg-hexagon.png), linear-gradient(to left, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 50%) 100%);
    background-color: rgba(58 209 236 / 50%);
    background-position: center center;
    box-shadow: 0 0 0 1px #abf5fd, 0 0 0.4em 0 rgb(58 209 236 / 70%), 0 0 0.4em 0 rgb(58 209 236 / 70%) inset;
    border-radius: 2px;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 6px;
    padding-bottom: 6px;
}

#game-loading-container p {
    text-align: center;
    margin-top: 0;
    top: 50%;
    transform: translate(50%, -50%);
    position: absolute;
    right: 50%;
}

#game-rps-first,
#game-rps-second {
    margin: 6px;
    height: 10vw;
    width: 10vw;
    border-radius: 100% !important;
}

#game-rps-container {
    background: url(https://img.konami.com/yugioh/point/images/bg-hexagon.png), linear-gradient(to right, rgb(0 0 0 / 70%) 0%, rgb(0 0 0 / 50%) 100%);
    background-color: rgba(58 209 236 / 50%);
    background-position: center center;
    box-shadow: 0 0 0.8em 0.2em rgb(58 209 236 / 70%) inset;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
}